# Config LLM Provider # Options: "nvidia", "groq", "ollama"
LLM_PROVIDER="ollama" 

#NVIDIA API Key
NVIDIA_BASE_URL= "https://integrate.api.nvidia.com/v1"
NVIDIA_MODEL_NAME="meta/llama-3.1-8b-instruct" # NVIDIA LLM Model
NVIDIA_API_KEY="your-nvidia-api-key-here" 

# Groq API Key and Base URL 
GROQ_PROVIDER_BASE_URL="https://api.groq.com/openai/v1"
GROQ_MODEL_NAME="llama-3.1-8b-instant" # Groq LLM Model
GROQ_API_KEY="your-groq-api-key-here"

# Ollama API Key and Base URL
OLLAMA_PROVIDER_BASE_URL="http://localhost:11434/v1"
OLLAMA_MODEL_NAME="llama3.1" # Ollama LLM Model
OLLAMA_API_KEY="ollama"